<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ - Cửa Hàng Hoa Tươi</title>
    <link rel="stylesheet" th:href="@{/guest_styles.css}">

</head>
<body>

<header>
    🌿 Hoa Xanh Garden - Lan tỏa hương thiên nhiên 🌿
</header>

<nav>
    <a th:href="@{/home}">Trang chủ</a>
    <a th:href="@{/products}">Sản phẩm</a>
    <a th:href="@{/about}">Giới thiệu</a>
    <a th:href="@{/login}">Đăng nhập</a>
    <a th:href="@{/users/registerPage}">Đăng Ký</a>
</nav>
<main>
<section class="products">
    <div class="product-card" th:each="product : ${productList}">
        <img th:src="@{${product.imageUrl}}" alt="Hoa">
        <h3 th:text="${product.name}">Tên sản phẩm</h3>
        <p th:text="${product.price + ' VNĐ'}">300,000 VNĐ</p>
        <button th:onclick="'window.location.href=\'/product/' + ${product.id} + '\';'">
            Xem chi tiết
        </button>
    </div>
</section>
</main>
<footer>
    © 2025 Hoa Xanh Garden | Địa chỉ: 123 Hoa Hồng, TP.HCM | Điện thoại: 0909 123 456
</footer>

</body>
</html>
